@mixin font($font-family, $font-style, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url($font-src + ".eot");
    src: url($font-src + ".eot?#iefix") format("embedded-opentype"),
      url($font-src + ".woff") format("woff"),
      url($font-src + ".woff2") format("woff2"),
      url($font-src + ".ttf") format("truetype");
    // , url($font-src + ".woff2") format("woff2")
  }
}
@include font("Estedad-Bold", normal, 400, "../fonts/Estedad/Estedad-Bold");
@include font("Estedad", normal, 400, "../fonts/Estedad/Estedad");
@include font("Yekan", normal, 400, "../fonts/Yekan/Yekan");
@include font("Yekan-Bold", normal, bold, "../fonts/Yekan/Yekan");

:root {
  --font-1: "Yekan";
  --font-2: "Estedad";
  --font-3: "Estedad-Bold";
  --font-4: "Yekan-Bold";
  --color-1: #101336;
  --color-2: #ff2d30;
  --color-3: #232f43;
  --color-4: #02c5bd;
  --color-5: #ffffff;
  --color-6: #ffefef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-3);
  font-family: var(--font-1);
}

a {
  text-decoration: none;
  color: var(--color-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-3);
  font-weight: 800;
}

h1 {
  font-size: 2.25em; //36px
}

h2 {
  font-size: 2em; //32px
}

h3 {
  font-size: 1.75em; //28
}
.h-white-20 {
  font-size: 20px;
  font-weight: 800;
  color: var(--color-5);
  line-height: 1.7;
}
.text-white-14 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-5);
  line-height: 1.6;
}

.tiny-title {
  font-weight: 900;
  font-size: 1.125em;
  color: var(--color-2);
}
.seection-1-title {
  font-size: 1.75em;
  font-weight: 800;
}

.btn-red {
  padding: 0 15px;
  font-size: 0.93em;
  font-family: var(--font-1);
  background-color: var(--color-2);
  color: var(--color-5);
  border: 0;
  border-radius: 60px;
  border: 1.5px solid var(--color-2);
  transition: all 0.4s ease;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: unset;
    border: 1.5px solid var(--color-2);
    color: var(--color-2);
  }
}

.tag-btn-1 {
  padding: 6px 12px 6px 12px;
  background-color: #fceebd;
  color: #232f43;
  padding: 13px, 20px, 10px, 20px;
  font-size: 0.93em;
  border: 0;
  border-radius: 8px;
  border: 1.5px solid #fceebd;
  transition: all 0.4s ease;
  &:hover {
    background-color: var(--color-5);
    border: 1.5px solid var(--color-5);
    color: var(--color-3);
  }
}

.btn-green {
  padding: 6px 27px 6px 27px;
  background-color: var(--color-4);
  color: var(--color-5);
  padding: 13px, 20px, 10px, 20px;
  font-size: 0.93em;
  border: 0;
  border-radius: 8px;
  height: 48px;
  border: 1.5px solid var(--color-4);
  transition: all 0.4s ease;
  &:hover {
    background-color: var(--color-5);
    border: 1.5px solid var(--color-4);
    color: var(--color-4);
  }
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
}

.content-wrapper {
  position: relative;
}
.index-banner {
  position: relative;
  height: 480px;
  right: -50px;
  bottom: -10px;
}
.index-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color3);
  z-index: 1;
  opacity: 0.2;
}

.index-banner .text-wrapper {
  position: absolute;
  min-width: 172px;
  min-height: 37px;
  text-align: center;
  z-index: 3;
}
.index-banner .text-wrapper:nth-of-type(0) {
  top: 50%;
  right: 70%;
  .text {
    font-size: 14px !important;
  }
}
.index-banner .text-wrapper:nth-of-type(1) {
  top: 40%;
  right: 20%;
  .text {
    font-size: 20px !important;
  }
}
.index-banner .text-wrapper:nth-of-type(2) {
  top: 50%;
  right: 60%;
  .text {
    font-size: 16px !important;
  }
}
.index-banner .text-wrapper:nth-of-type(3) {
  top: 79%;
  right: 3%;
  .text {
    font-size: 20px !important;
  }
}
.index-banner .text-wrapper:nth-of-type(4) {
  top: 85%;
  right: 35%;
  .text {
    font-size: 16px !important;
  }
}
.index-banner .text-wrapper:nth-of-type(5) {
  top: 70%;
  right: 73%;
  .text {
    font-size: 28px !important;
  }
}

.index-banner .text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-3);
  opacity: 0 !important;
  filter: blur(10px) !important;
  text-shadow: 0 0 10px #fff;
  transition: all 1000ms ease;
}
.index-banner .text.active {
  opacity: 1 !important;
  filter: blur(0) !important;
}
.index-banner .text.main {
  top: 32%;
  right: 20%;
  font-size: 45px;
  font-weight: 800;
  color: var(--color-2);
  opacity: 1 !important;
  filter: blur(0) !important;
  text-shadow: 0 0 10px var(--color1);
}
.index-banner .text.main:first-of-type {
  top: 56%;
  right: 29%;
}

.sidebar {
  display: none;
}

//drop down nav
ul,
#myUL {
  direction: rtl;
  list-style-type: none;
  text-align: right;
  list-style-type: none;
  padding-inline-start: 10px;
  margin: 0;

  li {
    margin: 10px 0;

    ul {
      padding-left: 0;
    }
  }
}

#myUL > li > span.caret {
  &::before {
    content: url("../images/svg/arrow-down-cat.svg");
    position: absolute;
    color: rgb(186, 24, 24);
    display: inline-block;
    left: 12px;
  }

  &::after {
    content: "";
  }

  &.caret-down::before {
    transform: rotate(180deg);
  }
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

  &::after {
    content: "\1F783";
    color: #404040 !important;
    display: inline-block;
    margin-right: 6px;
  }

  &.caret-down::after {
    transform: rotate(180deg);
  }
}

.nested {
  display: none;

  li {
    &::before {
      content: "\25CF";
      color: var(--color-2) !important;
      display: inline-block;
      margin-right: 6px;
      padding-left: 5px;
    }
  }
}

.active {
  display: block;
  color: var(--color-2);

  li {
    a {
      color: var(--color-2);
    }
  }
}

header {
  background-color: var(--color-1);
  .navbar {
    padding: 20px;
    .hamber {
      display: none;
    }
    .navbar-nav {
      .nav-item {
        margin-left: 43px;

        .nav-link {
          color: var(--color-5);
          font-size: 1em;
          font-weight: 800;
          transition: all 0.3s ease;
          &.active {
            color: var(--color-2);
          }
          &:hover {
            color: var(--color-2);
          }
        }
        .dropdown-menu {
          left: unset;
          text-align: right;
          border-radius: 16px;
          .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.2s ease-in;
            &:hover {
              background-color: var(--color-4);
              color: var(--color-5);
            }
          }
          li {
            margin: 10px 0;
          }
        }
      }
    }

    .category-menu {
      .nav {
        .navigation {
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
      .nav {
        text-align: center;
        border-radius: 60px;
        height: 41px;
        border-radius: 60px;

        .navigation {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          .main-cat {
            position: relative;
            float: left;
          }

          .main-cat {
            > a {
              background: var(--color-5);
              display: inline-block;
              height: 41px;
              color: var(--color-1);
              text-decoration: none;
              padding: 11px 40px;
              border-radius: 60px;
              -webkit-transition: all 0.1s ease-in;
              -o-transition: all 0.1s ease-in;
              transition: all 0.1s ease-in;
              &::before {
                content: url("../images/svg/menu-humb.svg");
                position: absolute;
                right: 10px;
              }
              &::after {
                content: url("../images/svg/arrow-down-cat.svg");
                position: absolute;
                max-width: 100%;
                left: 10px;
                transition: all 0.2s ease-in;
              }
            }

            .sub-cat {
              display: none;
              position: absolute;
              width: 100%;
              border-radius: 15px;
              top: calc(100% + 1px);
              left: -1px;
              z-index: 1000;
              text-align: left;
              //cat
              .accordion {
                background-color: var(--color-5);
                border-radius: 15px;
                padding: 12px;
                .accordion-item {
                  border: none;

                  // .accordion-button {
                  //   padding: 0;
                  //   padding: 15px 0;
                  //   font-size: 16px;
                  //   overflow: hidden;
                  //   font-weight: 500;
                  //   font-family: var(--font-4);
                  //   color: var(--color-3);
                  // }

                  // .accordion-button:not(.collapsed) {
                  //   color: var(--color-2);
                  //   background-color: unset;
                  //   box-shadow: unset;
                  //   &::after {
                  //     background-image: url("../images/svg/arrow-down-cat.svg");
                  //   }
                  // }
                  // .accordion-button:after {
                  //   background-image: url("../images/svg/arrow-up-cat.svg");
                  //   padding: 10px;
                  //   order: 1;
                  //   position: absolute;
                  //   left: 0;
                  //   transform: rotate(180deg);
                  // }

                  // .accordion-body {
                  //   font-size: 14px;
                  //   text-align: justify;
                  //   line-height: 22.45px;
                  //   font-weight: 400;
                  //   color: var(--color-3);
                  //   padding: 0;
                  //   div {
                  //     position: relative;
                  //     display: flex;
                  //     align-items: center;

                  //     &::before {
                  //       content: "";
                  //       position: absolute;
                  //       border-radius: 50%;
                  //       width: 5px;
                  //       height: 5px;
                  //       top: 10px;
                  //       background-color: var(--color-2);
                  //     }
                  //     a {
                  //       color: var(--color-2);
                  //       margin-bottom: 5px;
                  //       padding-right: 10px;
                  //       &::before {
                  //         content: "";
                  //         width: 10px;
                  //         height: 10px;
                  //         background-color: var(--color-2);
                  //       }
                  //     }
                  //   }
                  // }
                }
              }
            }
          }
        }
        // li.active {
        //   pointer-events: none;
        // }
      }
    }
  }

  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
    .dropdown-menu li {
      position: relative;
    }
    .dropdown-menu .submenu {
      display: none;
      position: absolute;
      right: 100%;
      top: -7px;
    }
    .dropdown-menu .submenu-left {
      left: 100%;
      right: auto;
    }

    .dropdown-menu > li:hover {
      background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
      display: block;
    }
  }
  /* ============ desktop view .end// ============ */

  /* ============ small devices ============ */
  @media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
      margin-left: 0.7rem;
      margin-right: 0.7rem;
      margin-bottom: 0.5rem;
    }
  }
  /* ============ small devices .end// ============ */
  .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
}

.top-area {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    right: -225px;
    bottom: -300px;

    content: url("../images/svg/desk.svg");
  }
  background-color: var(--color-1);
  height: calc(100vh - 81px);
  .right {
    position: relative;
    img {
      width: 100%;
      height: auto;
      left: 0;
    }
  }
  .left {
    height: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      color: var(--color-5);
      font-weight: bold;
      line-height: 64px;
      margin-bottom: 0;
    }
    p {
      color: var(--color-5);
      font-weight: 800;
      line-height: 31px;
      font-size: 2em;
      margin: 15px 0 25px 0;
    }
  }
  .right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
  }
}

.introduction {
  margin: 134px 0 61px 0;
  .right {
    .header {
      margin-bottom: 40px;
      span {
        color: var(--color-2);
      }
    }
    .accordion {
      .accordion-item {
        border: none;
        border-top: 1px solid #e0e0e2;
        &:first-child {
          border: 0;
        }
        .accordion-button {
          padding: 0;
          padding: 15px 0;
          font-size: 20px;
          font-weight: 500;
          font-family: var(--font-4);
        }

        .accordion-button:not(.collapsed) {
          color: var(--color-2);
          background-color: unset;
          box-shadow: unset;
        }
        .accordion-button:after {
          padding: 10px;
          order: -1;
          margin-left: 8px;
          border: 1px solid var(--color-3);
          border-radius: 50%;
        }
        .accordion-body {
          font-size: 16px;
          text-align: justify;
          line-height: 25.45px;
          font-weight: 400;
          color: var(--color-3);
          padding: 0;
          padding-bottom: 20px;
        }
      }
    }
  }
  .left {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.intro-courses {
  background-color: var(--color-1);
  margin: 200px 0 0 0;
  padding-bottom: 100px;
  .box-title {
    width: 75%;
    height: 200px;
    background-color: var(--color-4);
    margin: auto;
    border-radius: 24px;
    position: relative;
    top: -100px;
    &::before {
      position: absolute;
      content: url("../images/svg/intro-top-back.svg");
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
    .content {
      height: 100%;
      position: relative;

      .student-img {
        width: auto;
        position: absolute;
        right: -35px;
        top: -47px;
      }
      .text {
        height: 100%;
        width: 70%;
        margin: auto;
        h3 {
          color: var(--color-5);
          text-align: center;
          height: 100%;
          display: flex;
          align-items: center;
          line-height: 1.5;
        }
      }
      .book-img {
        width: auto;
        position: absolute;
        left: 16px;
        bottom: -38px;
      }
    }
  }
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-5);
    position: relative;
    top: -45px;
  }
  .tabs-intro {
    .nav-intro-coursees {
      border: 0;
      margin-bottom: 60px !important;
      .tab-handler {
        width: auto;
        display: flex;
        overflow-y: auto;
        margin: auto;
        background-color: #fbfbfb;
        padding: 10px;
        border-radius: 16px;
        .nav-link {
          margin: 0;
          color: #626a78;
          border-radius: 12px;
          padding: 8px 50px;
          min-width: 150px;
        }
        .nav-link.active {
          color: var(--color-1);
          font-weight: 800;
          box-shadow: 0px 4px 12px 0px #0000001f;
          background-color: var(--color-5);
        }
      }
    }
    .tab-content {
      .cours-item {
        background-color: var(--color-5);
        width: 100%;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px;
        border-radius: 36px;
        position: relative;
        transition: all 0.4s ease;
        color: var(--color-3);
        font-weight: 800;
        margin-bottom: 30px;

        &::after {
          content: url("../images/svg/arrow-course.svg");
          position: absolute;
          left: 17px;
          width: 28px;
          height: 28px;
        }

        &:hover {
          background-color: var(--color-2);
          color: var(--color-5);
          cursor: pointer;
          &::after {
            content: url("../images/svg/arrow-course-white.svg");
            position: absolute;
            position: absolute;
            left: 17px;
          }
        }
      }
      .cours-more-item {
        width: 100%;
        height: 72px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 17px;
        border: 3px dotted var(--color-5);
        border-radius: 36px;
        position: relative;
        transition: all 0.4s ease;
        color: var(--color-5);
        font-weight: 800;
        margin-bottom: 30px;

        &:hover {
          color: var(--color-2);
          cursor: pointer;
          border: 3px dotted var(--color-2);
        }
      }
    }
  }
}

.collections {
  background-color: #f2fcfd;
  margin-bottom: 167px;
  padding-top: 120px;

  .container {
    .row-collections {
      flex-direction: row-reverse;
      .getting-to-know {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 243px;
        position: relative;
        &::before {
          content: url("../images/svg/bookpen.svg");
          position: absolute;
        }

        span {
          color: var(--color-2);
          font-size: 18px;
          font-weight: 900;
        }
        h4 {
          font-size: 28px;
          font-weight: 800;
        }
      }
      .collection-item {
        margin-bottom: 64px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 90%;
          height: 30px;
          background: rgba(192, 195, 199, 1);
          border-radius: 20px;
          top: -10px;
          left: 50%;
          transform: translate(-50%);
        }
        &::after {
          position: absolute;
          content: "";
          width: 80%;
          height: 8px;
          background: rgba(237, 237, 239, 1);
          border-radius: 20px 20px 0 0;
          top: -18px;
          left: 50%;
          transform: translate(-50%);
        }
        .image-box {
          height: 221px;
          border-radius: 20px;
          background: #101336;
          position: relative;
          &::before {
            content: "";
            width: 97px;
            height: 13px;
            background-color: var(--color-2);
            position: absolute;
            top: 0;
            border-radius: 0px 0px 12px 12px;
            z-index: 1000;
            left: 50%;
            transform: translate(-50%);
            opacity: 0;
            transition: all 0.6s ease-in-out;
          }
          span {
            font-size: 18px;
            font-weight: 700;
            text-align: justify;
            width: 90%;
            text-align: center;
            position: absolute;
            overflow: hidden;
            text-wrap: nowrap;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            color: var(--color-5);
            opacity: 1;

            transition: all 0.3s ease-in-out;
          }

          img {
            filter: opacity(30%);
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: all 0.6s ease-in-out;
          }
          &:hover {
            img {
              filter: opacity(0%);
            }
            span {
              opacity: 1;
              top: 50%;
              overflow: unset;
              text-wrap: wrap;
            }
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .collections-footer {
    .content {
      height: 202px;
      background-color: var(--color-1);
      border-radius: 32px;
      border-top-right-radius: 150px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &::before {
        content: url("../images/svg/person-avat.svg");
        position: absolute;
        left: 90px;
        bottom: -9px;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          color: var(--color-5);
          text-align: center;
          padding: 0 0 0 30%;
          line-height: 51px;
        }
      }
      .vector-box {
        width: 277px;
        height: 271px;
        border-radius: 150px 150px 0px 0px;
        background-color: #fee0e0;
        position: relative;
        bottom: 69px;
        display: flex;
        justify-content: center;
        img {
          position: absolute;
          top: -103px;
        }
      }
    }
  }
}

.blogs {
  margin: 160px 50px 50px 0px;
  .header-blog {
    margin-bottom: 35px;
  }
  .slider {
    .item {
      margin: 14px;
      background-color: rgba(242, 252, 253, 1);
      padding: 12px;
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
      .article-blog {
        figure {
          a {
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
        .content {
          .title {
            font-size: 14px;
            font-weight: 400;
            color: var(--color-3);
            min-height: 50px;
          }
          .tags {
          }
        }
      }
      .category {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 12px;
      }
      &:hover {
        background-color: var(--color-1);
        color: var(--color-5);
        .content {
          .title {
            color: var(--color-5);
          }
          .tag-btn-1 {
            background-color: var(--color-5);
          }
        }
      }
    }
  }
}
footer {
  .questions {
    position: relative;
    bottom: -100px;
    z-index: 100;
    .box-title {
      width: 60%;
      height: auto;
      background-color: #facb01;
      margin: auto;
      border-radius: 24px;
      .content {
        height: 100%;
        position: relative;
        &::before {
          position: absolute;
          content: url("../images/svg/bg-bottom-header.svg");
          top: 0;
          left: 0;
          z-index: 0;
        }

        .text {
          width: 100%;
          display: inline-flex;
          flex-direction: column;
          display: inline-flex;
          padding: 27px;
          position: relative;

          h3 {
            color: var(--color-5);
            text-align: right;
            display: flex;
            align-items: center;
            line-height: 51px;

            padding-left: 35%;
            display: inline-block;
          }
          a {
            display: inline-flex;
            width: 170px;
            font-size: 15px;
            font-weight: 800;
            padding: 2px 33px;
            height: 41px;
          }
        }
        .book-img {
          width: auto;
          position: absolute;
          left: 16px;
          bottom: 0px;
        }
      }
    }
  }
  .footer {
    background-color: var(--color-1);
    padding: 150px 0 60px 0;
    .list-footer {
      margin-right: 40px;
      h5 {
        color: var(--color-5);
        font-size: 18px;
        font-weight: 900;
      }
      ul {
        list-style: none;
        margin-top: 15px;
        li {
          margin-bottom: 7px;
          a {
            color: var(--color-5);
            transition: all 0.2s ease-in;
            font-size: 16px;
            font-weight: 400;
            &:hover {
              color: var(--color-2);
            }
          }
        }
      }
    }
    .newsleter {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .title {
        text-align: center;
        color: var(--color-5);
        font-weight: 700;
        font-size: 16px;
        line-height: 2.5;
        padding: 0 52px;
      }
      .form-box {
        input {
          border-radius: 8px;
          &::placeholder {
            font-size: 14px;
            color: #828892;
          }
        }
        .btn {
          border-radius: 8px;
          height: 100%;
        }
      }
    }
  }
}

.slider {
  margin: 0 -12px;
  .slick-arrow {
    position: absolute;
    top: -100px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    z-index: 91;

    &:before {
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      -webkit-box-shadow: 0 0 7px 0 rgba(1, 96, 231, 0.2);
      box-shadow: 0 0 7px 0 rgba(1, 96, 231, 0.2);
    }
    &.slick-disabled {
      opacity: 0.1;
    }
  }
  .slick-prev {
    left: 90px;
    &:before {
      content: url("../images/svg/prev-arrow-blogs.svg");
      background-color: var(--color-2);
      width: 70px;
      height: 44px;
      border-radius: 60px;
      padding-top: 7px;
    }
  }
  .slick-next {
    left: 0px;

    &:before {
      content: url("../images/svg/next-arrow-blogs.svg");
      background-color: var(--color-2);
      width: 70px;
      height: 44px;
      border-radius: 60px;
      padding-top: 7px;
    }
  }
  .slick-dots {
    text-align: center;
    position: absolute;
    bottom: -55px;
    right: 0;
    left: 0;
    li {
      display: inline-flex;
      padding: 0;
      margin-left: 7px;
      button {
        width: 15px;
        height: 15px;
        font-size: 0;
        border: 2px solid var(--color-3);
        background-color: transparent;
        border-radius: 50%;
        padding: 0;
      }
      &.slick-active {
        button {
          background-color: var(--color-2);
        }
      }
    }
  }
  .item {
    padding: 12px;
  }
}

//filter
.section-top-full {
  background-image: url("../images/bg-top-filter.png");
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 19, 54, 0.55);
    z-index: 10;
  }
  .content {
    position: relative;
    z-index: 100;
    h1 {
      text-align: center;
      font-size: 28px;
      font-weight: 900;
      color: var(--color-5);
    }
    p {
      font-size: 20px;
      color: var(--color-5);
      text-align: center;
      line-height: 47.14px;
    }
    form {
      input,
      select {
        height: 48px;
        &::placeholder {
          font-size: 14px;
          color: #828892;
        }
      }

      .btn-red {
        border-radius: 8px;
      }
    }
    .tags {
      text-align: center;
      margin-top: 44px;
      h5 {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        color: var(--color-5);
        margin-left: 20px;
      }
      span {
        display: inline;
        margin-left: 16px;

        a {
          color: var(--color-5);
        }
        .active {
          display: inline !important;
          color: var(--color-2);
        }
      }
    }
  }
}
.mt-b {
  margin: 64px 0;
}

.cat-image {
  border-radius: 12px;
  padding: 16px;
  background-color: var(--color-6);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 27px;
    background-color: var(--color-2);
    top: 20px;
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .cat-image-title {
    margin-bottom: 24px;
    font-family: var(--font-2);
    font-size: 16px;
    font-weight: 600;
    color: var(--color-3);
  }
  .item {
    margin-bottom: 20px;
    height: 90px;
    border-radius: 16px;
    position: relative;
    background: var(--color-1);
    transition: all 0.2s ease-in;
    img {
      filter: opacity(30%);
      width: 100%;
      height: 100%;
      border-radius: 16px;
      transition: all 0.6s;
    }
    span {
      font-size: 13px;
      font-weight: 700;
      text-align: justify;
      width: 90%;
      text-align: center;
      position: absolute;
      overflow: hidden;
      text-wrap: nowrap;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      color: var(--color-5);
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      img {
        filter: opacity(0%);
      }
    }
  }
}
//filter page
.filter-box {
  .filter {
    margin-bottom: 20px;
    .sorted {
      span {
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ff2d30;
      }
    }
    .left {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 14px;
        span {
          font-size: 15px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: right;
          margin-left: 8px;
        }
        select {
          width: auto;
          height: 34px;
          font-size: 14px;
        }
      }
    }
  }
  .filter-item {
    margin-bottom: 32px;
    background-color: var(--color-6);
    border-radius: 12px;
    padding: 19px;
    .type-item {
      span {
      }
      .close {
        width: auto;
        height: 39px;
        padding: 7px 10px 7px 40px;
        border-radius: 24px;
        background: #ffabac;
        font-family: Estedad;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        color: #232f43;
        border: 0;
        margin-left: 8px;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        a {
          position: absolute;
          left: 14px;
        }
      }
    }
  }
}
.blog-box {
  .item {
    margin-bottom: 14px;
    background-color: rgba(242, 252, 253, 1);
    padding: 12px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    .article-blog {
      figure {
        a {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
      .content {
        .title {
          font-size: 14px;
          font-weight: 400;
          color: var(--color-3);
          min-height: 50px;
          font-family: var(--font-1);
          line-height: 25.2px;
        }
        .tags {
          .tag-btn-1 {
            background-color: #c2f1f0;
            border-color: #c2f1f0;
          }
        }
      }
    }
    .category {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 12px;
    }
    &:hover {
      background-color: var(--color-1);
      color: var(--color-5);
      .content {
        .title {
          color: var(--color-5);
        }
        .tag-btn-1 {
          background-color: var(--color-5);
        }
      }
    }
  }
}
.pagination {
  margin-top: 20px;
  a {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #78909c;
    font-family: var(--font-1);
    margin-left: 5px;
    color: #78909c;
  }
  a.active {
    background-color: #02c5bd;
    color: #fff;
    border: none;
  }
  a.previous,
  a.next {
    border: none;
    color: #b0bec5;
    font-size: 20px;
  }
  a.next.active {
    background-color: transparent;
    color: var(--color-4);
  }
}

// Tablet Size
@media (max-width: 992px) {
  .index-banner {
    height: 328px;
    width: 410px;
    right: 0px;
    bottom: 0px;
  }
  .index-banner .text-wrapper {
    position: absolute;
    min-width: 87px;
    min-height: 37px;
    text-align: center;
    z-index: 3;
  }
  .index-banner .text-wrapper:nth-of-type(0) {
    top: 50%;
    right: 70%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(1) {
    top: 44%;
    right: 3%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(2) {
    top: 56%;
    right: 24%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(3) {
    top: 58%;
    right: 0%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(4) {
    top: 86%;
    right: 2%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(5) {
    top: 80%;
    right: 27%;
    .text {
      font-size: 14px !important;
    }
  }

  .index-banner .text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--color-3);
    opacity: 0 !important;
    filter: blur(10px) !important;
    text-shadow: 0 0 10px #fff;
    transition: all 1000ms ease;
  }
  .index-banner .text.active {
    opacity: 1 !important;
    filter: blur(0) !important;
  }
  .index-banner .text.main {
    top: 32%;
    right: 20%;
    font-size: 24px;
    font-weight: 800;
    color: var(--color-2);
    opacity: 1 !important;
    filter: blur(0) !important;
    text-shadow: 0 0 10px var(--color1);
  }
  .index-banner .text.main:first-of-type {
    top: 67%;
    right: 10%;
  }

  .sidebar.show {
    transition: all 0.3s ease-in;
    right: 0px;
  }
  .sidebar.text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
  }
  .sidebar {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    right: -1000px;
    background-color: #161616b2;
    transition: left 0.4s ease;

    ul {
      background: var(--color-1);
      height: 100%;
      width: 250px;
      list-style: none;
      position: relative;
      .menu {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .close-menu {
        width: 20px;
        position: absolute;
        left: 18px;
        top: 18px;
        height: 20px;
        z-index: 100000;
        &::before {
          content: url("../images/svg/close-sidemenu.svg");
          position: absolute;
        }
      }
    }
    ul li {
      line-height: 45px;
    }

    ul li a {
      position: relative;
      color: white;
      text-decoration: none;
      font-size: 14px;
      padding-right: 40px;
      font-weight: 800;
      display: block;
      width: 100%;
      border-right: 3px solid transparent;
    }
    ul li.active a {
      color: var(--color-2);
      border-right-color: var(--color-2);
    }
    ul li a:hover {
    }
    ul ul {
      position: static;
      display: none;
    }
    ul .feat-show.show {
      display: block;
    }
    ul .serv-show.show1 {
      display: block;
    }
    ul ul li {
      line-height: 42px;
      border-top: none;
    }
    ul ul li a {
      font-size: 14px;
      color: #e6e6e6;
      padding-left: 80px;
    }
    ul li.active ul li a {
      color: #e6e6e6;
      border-left-color: transparent;
      font-weight: 400;
    }
    ul ul li a:hover {
      color: var(--color-2) !important;
    }
    ul li a span {
      content: url("../images/svg/arrow-white-down.svg");
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 14px;
      transition: transform 0.4s;
    }
    ul li a span.rotate {
      transform: translateY(-50%) rotate(-180deg);
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #202020;
      z-index: -1;
      text-align: center;
    }
    .content .header {
      font-size: 45px;
      font-weight: 600;
    }
    .content p {
      font-size: 30px;
      font-weight: 500;
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/svg/humber-mobile.svg");
  }
  header {
    .navbar {
      padding: 20px 0;
      .hamber {
        display: block;
      }
      .mobile-menu {
        background-color: transparent;
        border: 0;
        color: #02c5bd;
      }
      .navbar-brand {
        margin: 0;
      }
    }
  }
  main {
    .top-area {
      min-height: 650px;
      &::before {
        content: url("../images/svg/desk-mobile.svg");
        bottom: -7px;
        right: 0;
      }
      .right {
        width: 100%;
      }
      .left {
        height: auto;
        h1 {
          font-size: 28px;
        }
        a {
          width: 100%;
        }
      }
    }
    .introduction {
      margin: 30px 0 61px 0;
      .left {
        margin-top: 30px;
      }
    }
    .intro-courses {
      margin: 235px 0 0 0;
      .box-title {
        padding: 26px 26px 0 26px;
        width: 100%;
        min-height: 290px;
        overflow: hidden;
        top: -189px;
        .content {
          overflow: hidden;
          .book-img {
            display: none;
          }
          .text {
            height: auto;
            width: 100%;
            font-size: 20px;
          }
          .student-img {
            top: unset;
            right: unset;
            bottom: -111px;
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
        &::before {
          position: absolute;
          content: url(../images/svg/intro-top-back-mobile.svg);
          top: 100%;
          left: unset;
          right: -31%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
        }
      }
      .header {
        top: -80px;
      }
      .tabs-intro {
        .nav-intro-coursees {
          .tab-handler {
            .nav-link {
              padding: 0 8px;
            }
          }
        }
        .tab-content {
          .cours-item {
            padding: 10px 17px 10px 44px;
            height: 60px;
          }
          .cours-more-item {
            height: auto;
          }
        }
      }
    }
    .collections {
      padding-top: 0;
      margin-bottom: 35px;
      .container {
        .collection-item {
          margin-bottom: 30px;
        }
      }
      .mobile-sid-left {
        display: block !important;
        .getting-to-know {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 243px;
          position: relative;
          &::before {
            content: url("../images/svg/bookpen.svg");
            position: absolute;
          }

          span {
            color: var(--color-2);
            font-size: 18px;
            font-weight: 900;
          }
          h4 {
            font-size: 28px;
            font-weight: 800;
          }
        }
      }
      .row-collections {
        flex-direction: row !important;
        .slideInLeft {
          display: none;
        }
        overflow-x: auto;
        flex-wrap: nowrap;
        // .collection-box {
        //   width: 50vw;
        // }
      }
      .collections-footer {
        display: none;
      }
      .collections-footer-mobile {
        display: block !important;
        margin-top: 100px;
        position: relative;
        .vector-box {
          margin: auto;
          width: 277px;
          height: 271px;
          border-radius: 150px 150px 0px 0px;
          background-color: #fee0e0;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: absolute;
            top: -103px;
          }
        }
        .content {
          height: 202px;
          background-color: var(--color-1);
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &::before {
          }
          .text {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            h3 {
              color: var(--color-5);
              text-align: center;
              line-height: 51px;
            }
          }
        }
      }
    }

    .blogs {
      margin: 0;
      .slider {
        .slick-arrow {
          display: none !important;
        }
      }
    }
  }
  footer {
    .questions {
      .box-title {
        width: 90%;
        .content {
          .text {
            h3 {
              padding: 0;
              text-align: center;
            }
            a {
              width: 100%;
            }
          }
        }
        .book-img {
          display: none;
        }
      }
    }
    .footer {
      .list-footer {
        margin: 49px 0;
      }
    }
    .newsleter {
      margin-top: 20px;
    }
  }
}

// Mobile Size
@media (max-width: 576px) {
  .index-banner {
    height: 328px;
    width: 410px;
    right: 0px;
    bottom: 0px;
  }
  .index-banner .text-wrapper {
    position: absolute;
    min-width: 87px;
    min-height: 37px;
    text-align: center;
    z-index: 3;
  }
  .index-banner .text-wrapper:nth-of-type(0) {
    top: 50%;
    right: 70%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(1) {
    top: 44%;
    right: 3%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(2) {
    top: 56%;
    right: 24%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(3) {
    top: 58%;
    right: 0%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(4) {
    top: 86%;
    right: 2%;
    .text {
      font-size: 14px !important;
    }
  }
  .index-banner .text-wrapper:nth-of-type(5) {
    top: 80%;
    right: 27%;
    .text {
      font-size: 14px !important;
    }
  }

  .index-banner .text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--color-3);
    opacity: 0 !important;
    filter: blur(10px) !important;
    text-shadow: 0 0 10px #fff;
    transition: all 1000ms ease;
  }
  .index-banner .text.active {
    opacity: 1 !important;
    filter: blur(0) !important;
  }
  .index-banner .text.main {
    top: 32%;
    right: 20%;
    font-size: 24px;
    font-weight: 800;
    color: var(--color-2);
    opacity: 1 !important;
    filter: blur(0) !important;
    text-shadow: 0 0 10px var(--color1);
  }
  .index-banner .text.main:first-of-type {
    top: 67%;
    right: 10%;
  }

  .sidebar.show {
    transition: all 0.3s ease-in;
    right: 0px;
  }
  .sidebar.text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
  }
  .sidebar {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    right: -1000px;
    background-color: #161616b2;
    transition: left 0.4s ease;

    ul {
      background: var(--color-1);
      height: 100%;
      width: 250px;
      list-style: none;
      position: relative;
      .menu {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .close-menu {
        width: 20px;
        position: absolute;
        left: 18px;
        top: 18px;
        height: 20px;
        z-index: 100000;
        &::before {
          content: url("../images/svg/close-sidemenu.svg");
          position: absolute;
        }
      }
    }
    ul li {
      line-height: 45px;
    }

    ul li a {
      position: relative;
      color: white;
      text-decoration: none;
      font-size: 14px;
      padding-right: 40px;
      font-weight: 800;
      display: block;
      width: 100%;
      border-right: 3px solid transparent;
    }
    ul li.active a {
      color: var(--color-2);
      border-right-color: var(--color-2);
    }
    ul li a:hover {
    }
    ul ul {
      position: static;
      display: none;
    }
    ul .feat-show.show {
      display: block;
    }
    ul .serv-show.show1 {
      display: block;
    }
    ul ul li {
      line-height: 42px;
      border-top: none;
    }
    ul ul li a {
      font-size: 14px;
      color: #e6e6e6;
      padding-left: 80px;
    }
    ul li.active ul li a {
      color: #e6e6e6;
      border-left-color: transparent;
      font-weight: 400;
    }
    ul ul li a:hover {
      color: var(--color-2) !important;
    }
    ul li a span {
      content: url("../images/svg/arrow-white-down.svg");
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 14px;
      transition: transform 0.4s;
    }
    ul li a span.rotate {
      transform: translateY(-50%) rotate(-180deg);
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #202020;
      z-index: -1;
      text-align: center;
    }
    .content .header {
      font-size: 45px;
      font-weight: 600;
    }
    .content p {
      font-size: 30px;
      font-weight: 500;
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/svg/humber-mobile.svg");
  }
  header {
    .navbar {
      padding: 20px 0;
      .hamber {
        display: block;
      }
      .mobile-menu {
        background-color: transparent;
        border: 0;
        color: #02c5bd;
      }
      .navbar-brand {
        margin: 0;
      }
    }
  }
  main {
    .top-area {
      min-height: 650px;
      &::before {
        content: url("../images/svg/desk-mobile.svg");
        bottom: -7px;
        right: 0;
      }
      .right {
        width: 100%;
      }
      .left {
        height: auto;
        h1 {
          font-size: 28px;
        }
        a {
          width: 100%;
        }
      }
    }
    .introduction {
      margin: 30px 0 61px 0;
      .left {
        margin-top: 30px;
      }
    }
    .intro-courses {
      margin: 235px 0 0 0;
      .box-title {
        padding: 26px 26px 0 26px;
        width: 100%;
        min-height: 386px;
        overflow: hidden;
        top: -189px;
        .content {
          overflow: hidden;
          .book-img {
            display: none;
          }
          .text {
            height: auto;
            width: 100%;
            font-size: 20px;
          }
          .student-img {
            top: unset;
            right: unset;
            bottom: -111px;
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
        &::before {
          position: absolute;
          content: url(../images/svg/intro-top-back-mobile.svg);
          top: 100%;
          left: unset;
          right: -31%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
        }
      }
      .header {
        top: -80px;
      }
      .tabs-intro {
        .nav-intro-coursees {
          .tab-handler {
            .nav-link {
              padding: 0 8px;
            }
          }
        }
        .tab-content {
          .cours-item {
            padding: 10px 17px 10px 44px;
            height: 60px;
          }
          .cours-more-item {
            height: auto;
          }
        }
      }
    }
    .collections {
      padding-top: 0;
      margin-bottom: 35px;
      .container {
        .collection-item {
          margin-bottom: 30px;
        }
      }
      .mobile-sid-left {
        display: block !important;
        .getting-to-know {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 243px;
          position: relative;
          &::before {
            content: url("../images/svg/bookpen.svg");
            position: absolute;
          }

          span {
            color: var(--color-2);
            font-size: 18px;
            font-weight: 900;
          }
          h4 {
            font-size: 28px;
            font-weight: 800;
          }
        }
      }
      .row-collections {
        flex-direction: row !important;
        .slideInLeft {
          display: none;
        }
        overflow-x: auto;
        flex-wrap: nowrap;
        .collection-box {
          width: 80vw;
        }
      }
      .collections-footer {
        display: none;
      }
      .collections-footer-mobile {
        display: block !important;
        margin-top: 100px;
        position: relative;
        .vector-box {
          margin: auto;
          width: 277px;
          height: 271px;
          border-radius: 150px 150px 0px 0px;
          background-color: #fee0e0;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: absolute;
            top: -103px;
          }
        }
        .content {
          height: 202px;
          background-color: var(--color-1);
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &::before {
          }
          .text {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            h3 {
              color: var(--color-5);
              text-align: center;
              line-height: 51px;
            }
          }
        }
      }
    }

    .blogs {
      margin: 0;
      .slider {
        .slick-arrow {
          display: none !important;
        }
      }
    }
  }
  footer {
    .questions {
      .box-title {
        width: 90%;
        .content {
          .text {
            h3 {
              padding: 0;
              text-align: center;
            }
            a {
              width: 100%;
            }
          }
        }
        .book-img {
          display: none;
        }
      }
    }
    .footer {
      .list-footer {
        margin: 49px 0;
      }
    }
    .newsleter {
      margin-top: 20px;
    }
  }
}
